В этом домашнем задании мы будем работать с набором данных о пассажирах парохода "Титаник", потерпевшего крушение в 1912 году (источник: соревнование [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic) на платформе [Kaggle](https://www.kaggle.com)). Датасет лежит по пути `src/titanic.csv`

## Задание 1
Загрузите таблицу из файла `data.csv` в переменную `df` типа `pd.DataFrame`. В качестве индекса следует использовать колонку `PassengerId`.

In [23]:
# ваш код
import pandas as pd
import numpy as np

titanic = pd.read_csv('https://github.com/dankin96/SBT-Python-2020-Spring/tree/master/Homework_2/src/titanic.csv', sep='\t', comment='#') #, index_col='PassengerId'
titanic

                                         <!DOCTYPE html>
0                                       <html lang="en">
1                                                 <head>
2                                 <meta charset="utf-8">
3        <link rel="dns-prefetch" href="https://githu...
4        <link rel="dns-prefetch" href="https://avata...
...                                                  ...
14017                                             </div>
14018                                             </div>
14019    <div aria-live="polite" class="js-global-scr...
14020                                            </body>
14021                                            </html>

[14022 rows x 1 columns]

## Задание 1.1
Сколько строк и столбцов в таблице? Ответом в форме будет кол-во строк умноженное на кол-во столбцов.

In [54]:
# ваш код

#titanic.columns.size
#titanic.index.size

titanic.columns.size * titanic.index.size
#(titanic.columns * titanic.rows)

1

14022

## Задание 1.2
Отсортируйте Dataframe по возрастанию столбца `Age`. Выведите на экран первые три значения столбца `Age`(возраст).
Ответом в форме будет сумма возрастов первых трех пассажиров в отсортированном Dataframe (с двумя знаками после запятой, округленной функцией `round в python 3`).

In [45]:
# ваш код

titanic.sort_values('Age')
round(titanic.head(3).sum, 2)
#round(titanic.sum(:3, 'Age'), 2)

KeyError: ignored

## Задание 1.3

Какова доля выживших (поле `Survived`)? Ответом в форме будет число (с двумя знаками после запятой, округленной функцией `round в python 3`)

In [46]:
# ваш код

round(titanic.Survived.mean(), 2)

AttributeError: ignored

## Задание 1.4
Каковы доли женщин и мужчин среди пассажиров (поле `Sex`)? Ответом в форме будет абсолют разницы между значениями (с двумя знаками после запятой, округленной функцией `round в python 3`)

In [47]:
# ваш код

titanic.loc[titanic.Sex == 'male'].mean()
titanic.loc[titanic.Sex == 'female'].mean()

round(abs(titanic.loc[titanic.Sex == 'male'].mean() - titanic.loc[titanic.Sex == 'female'].mean()), 2)

AttributeError: ignored

## Задание 1.5
Какова доля совершеннолетних пассажиров (18 лет и старше)? Ответом в форме будет число (с двумя знаками после запятой, округленной функцией `round в python 3`)

In [49]:
# ваш код

round((titanic.Age >= 18).mean(), 2)

1

## Задание 1.6
Замените коды пассажирских классов (поле `Pclass`) их названиями (1 = Upper, 2 = Middle, 3 = Lower). Результат выведите на экран. Выведите Dataframe с Pclass = Lower и  Age > 10.0. Ответом в форме будет кол-во строк умноженное на кол-во столбцов этого Dataframe.

In [0]:
# ваш код
titanic.rename(columns={'1' : 'Upper', '2' : 'Middle', '3' : 'Lower'})
upper = titanic.loc[titanic.Pclass == 'Upper' and titanic.Age > 10.0]
upper.columns.size * upper.index.size

## Задача 1.7
Какова доля выживших среди женщин?

In [0]:
# ваш код

titanic.loc[titanic.Sex == 'female', 'Survived'].mean()

## Задача 1.8
Сколько всего пропущенных значений в таблице?

In [62]:
# ваш код

titanic.isnull().values.ravel().sum() # (?)

0

## Задание 1.9
Добавьте в таблицу поле `Surname` – фамилию пассажира (первое слово до запятой).
Посчитайте в отдельном столбце `Surname_len` - длину фамилии пассажира. Сложите длины всех фамилий - это и будет ответом в форме.

In [68]:
# ваш код

titanic['Surname'] = titanic['Name'].split(",", 1)[0]
titanic['Surname_len'] = len(titanic['Surname'])
titanic.Surname_len.sum()

Katenkar 8

## Задание 1.10
Найдите всех пассажиров с аномальной стоимостью билета (поле `Fare`). Будем считать стоимость аномальной, если она отличается от среднего более, чем на 5 стандартных отклонений. Выведите соответствующие строки таблицы на экран. Ответом в форме будет наименьший PassengerId.

In [0]:
# ваш код

fare = titanic.loc[abs(titanic['Fare'].mean() - titanic['Fare']) < (5 * titanic['Fare'].std()]
fare.sort_values('PassengerId') #, ascending=False

## Задание 1.11
Выведите на экран столбцы, в которых бывают пропущенные значения. (Hint: *Здесь может помочь метод* `.any()`*, а также индексация переменной* `df.columns`). Перечислите названия всех столбцов по алфавитному порядку через запятую - это будет ответом (Например, ответ в форме - 'Age, Cabin, Name, Survived, Pclass')

In [0]:
# ваш код

# titanic.isnull().values.ravel().sum()
titanic.loc[titanic.any().isnull()].columns.sort() #(?)
# titanic.reindex(sorted(titanic.columns), axis=1)
# axis=1 !!!!

# Задание 1.12
Выведите на картинке распределение возрастов женщин с ценой билета меньше 250.0 и медиану (matplotlib или seaborn), а также на ней распределение возрастов мужчин с ценой билета меньше 250.0 и медиану.
Ответом к форме будет эта картинка (загрузите на любой фотохостинг и вставьте url).

In [72]:
# ваш код

# Заклинание, нужное для отрисовки графиков непосредственно в ноутбуке (подробнее в лекции 7)
%matplotlib inline
# Настройка стиля и размера графиков
import matplotlib
matplotlib.rcParams['figure.figsize'] = (10.0, 6.0)
matplotlib.pyplot.style.use('ggplot')

#titanic.plot()

titanic.loc[titanic.Sex == 'female' and titanic.Fare < 250].plot.scatter('Fare', 'Age').median()
titanic.loc[titanic.Sex == 'male' and titanic.Fare < 250].median()

AttributeError: ignored

### https://forms.gle/JoyGhhHJaa1jag7G7 - ссылка на форму